services:
  web-app:
    container_name: web-app
    build:
      context: ./web-app
      dockerfile: Dockerfile
    volumes:
      - articles_data:/articles-data:ro
      - ./web-app:/app # bind mount used to develop env, need to delete when product env
      - rendered_articles:/app/rendered-articles # develop env, storage the rendered html files in docker volume
    environment:
      - ARTICLES_DIRECTORY=/articles-data
      - RENDERED_DIRECTORY=/rendered-articles # develop env
      - FLASK_APP=app.py

  articles-sync:
    container_name: articles-sync
    build:
      context: ./articles-sync
      dockerfile: Dockerfile
    volumes:
      - articles_data:/articles-data:rw
      # bind mount conainer logs folder, used to devlop env
      - ./articles-sync/logs:/var/log/personal-website
    environment:
      - GITHUB_REPO=https://github.com/hanjie-chen/PersonalArticles.git
      - REPO_BRANCH=main
      - LOG_DIR=/var/log/personal-website
    develop:
      watch:
        - path: ./articles-sync
          ignore:
            - logs/**
          action: rebuild
  
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - web-app

volumes:
  articles_data: # source markdown files volume
  rendered_articles: # the html files volme which rendered form source markdown file