services:

  articles-sync:
    container_name: articles-sync
    build:
      context: ./articles-sync
      dockerfile: Dockerfile
    volumes:
      - source_md_articles:/articles/src:rw
    environment:
      - GITHUB_REPO=https://github.com/hanjie-chen/PersonalArticles.git
      - SOURCE_ARTICLES_DIRECTORY=/articles/src
      - REPO_BRANCH=main

  web-app:
    container_name: web-app
    build:
      context: ./web-app
      dockerfile: Dockerfile
    volumes:
      - ./web-app:/app # bind mount used to develop env, need to delete when product env
      - rendered_html_articles:/articles/rendered # develop env, storage the rendered html files in docker volume
      - source_md_articles:/articles/src:ro
    environment:
      - SOURCE_ARTICLES_DIRECTORY=/articles/src
      - RENDERED_ARTICLES_DIRECTORY=/articles/rendered
      - FLASK_APP=app.py
  
  nginx-modsecurity:
    image: owasp/modsecurity-crs:nginx-alpine
    container_name: nginx-modsecurity
    ports:
      - "80:80"
    volumes:
      # bind mount user to dev env
      - ./nginx-modsecurity/conf.d/default.conf:/etc/nginx/templates/conf.d/default.conf.template
      - ./nginx-modsecurity/logs:/var/log/nginx
      # docker volume mount
      - rendered_html_articles:/usr/share/nginx/html/rendered-articles
    depends_on:
      - web-app
    environment:
      - MODSEC_AUDIT_LOG=/var/log/nginx/modsec-audit.log
      

volumes:
  source_md_articles: # source markdown files volume
  rendered_html_articles: # the html files volme which rendered form source markdown file
