{% extends "base.html"%}


{% block title %}
<title>{{ article.title }}</title>
{% endblock %}


{% block navbar%}
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto">
                <!-- Home链接 -->
                <li class="nav-item">
                    <a href="{{ url_for('index')}}" class="nav-link">
                        Home
                    </a>
                </li>

                <!-- 分隔符 -->
                <li class="nav-item">
                    <span class="nav-link">|</span>
                </li>

                <!-- About Me链接 -->
                <li class="nav-item">
                    <a href="{{ url_for('article_index')}}" class="nav-link">
                        Articles
                    </a>
                </li>

                <li class="nav-item">
                    <span class="nav-link">|</span>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('about_me')}}" class="nav-link">
                        About Me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<!-- Main Content -->
{% block main_content%}
<div class="main-content container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="content-wrapper">
        <div class="container">
            <div class="content">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">{{ article.title }}</h1>
                        <div class="text-muted fst-italic mb-2">
                            作者: {{ article.author }} | 发布日期: {{ article.rollout_date }} | last modified: {{article. ultimate_modified_date}}
                        </div>
                        <div class="badge bg-secondary text-decoration-none link-light">
                            {{ article.category }}
                        </div>
                    </header>
                    {{ article_content|safe }}
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}