body {
  /* set body font color */
  color: #DBDCE2 !important;
  /* set body background color */
  background-color: #1A1C1F;
}

/* 确保 navbar 和 footer 使用自定义背景色和字体颜色 */
.navbar-custom {
  /* the background color for test */
  /* background-color: #312b2b; */
  height: 6vh;
}

/* 导航栏字体颜色 */
.navbar-custom .navbar-nav .nav-link {
  color: #DBDCE2;
}
/* main-contnet hight */
.main-content {
  height: 88vh;
}

/* define the footer with the same  */
.footer-custom {
  /* the background color for test */
  /* background-color: #2f3c50; */
  height: 6vh;
}

/* define article page search box */
#searchBox {
  transition: width 0.3s ease;
  width: 20vw; /* 初始宽度 */
}

#searchBox.expanded {
  width: 60vw; /* 扩展后的宽度 */
}
