@import url(../style.css);

/* block code style */
.codehilite {
    /* 代码块和上下文之间空出距离 左右不空 */
    margin: 1.6rem 0;
  
    /* 让圆角与语法高亮背景相融合，如需阴影可加上 box-shadow */
    border-radius: 6px;
    /* 可选的小阴影，若需要更明显可调大数值 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    /* 若不需要在外层强行滚动，可一般设置为 auto 或 hidden */
    overflow: hidden;
  }
  
  /* deal with code-->pre and lineos-->pre*/
  .codehilite pre {
    /* 去掉默认 margin，避免出现“底部空白大于顶部”等不一致情况 */
    margin: 0;
    /* 给内部留些 padding，保证文字不贴边；可依据个人审美微调 */
    padding: 1rem 0.5rem;
  
    /* 让 pre 的圆角与外层保持一致 */
    border-radius: inherit;
  
    /* 仅需要水平滚动 */
    overflow-x: auto;
    overflow-y: hidden;

    /* set line height */
    line-height: 1.5;
  
  }

.codehilite td.linenos {
    
    background-color: #21252B; /* line number background color */
    color: #5C6370; /* line number color */

    /* spilt line in right */
    border-right: 1px solid #3D4043;
  
    /* 行号右对齐 禁止选择行号 */
    text-align: right;
    user-select: none;
    vertical-align: top;
  }
  
/* 鼠标选中行号的时候无背景显示 */
.codehilite td.linenos::selection {
  background: none; 
}

/* for inline code */
p code,
li code,
blockquote code {
  background-color: #343941;
  color: var(--text-primary-color);
  padding: 0.18rem 0.4rem 0.22rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}
